*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0E171C;
}

h1{
  color: white;
  margin-bottom: 30px;
}

.text{
  text-align: center;
}
.margin{
  margin-top: 15px;
}

.top{
  margin-top: 30px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

@media screen and (min-width: 769px) {

  .text{
    text-align: right;
  }
  .margin{
    margin-top: 0;
    margin-left: 15px;
  }

}
